<nav>
  <% if (!user) { %>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/login">Login</a></li>
      <li role="presentation" class="active"><a href="/signup">Signup</a></li>
    </ul>
  <% } else { %>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/profile"><%= user.profile.name %></a></li>
      <li role="presentation" class="active"><a href="/logout">Logout</a></li>
    </ul>

  <% } %>

</nav>