<% layout('layout') -%>

<h1> Shop Coffee </h1>

<p> Buy syrups, different roasts, etc. </p>

<p> Signup to start buying </p>

<h3> Start your search here </h3>
<p> The best small-batch coffee syrup in the Southwest. </p>

<h3> Looking for coffee stuff? </h3>
<p> These will appear across the site as you add to your cart. </p>

<h3> Build your cart </h3>
<p> The more you buy, the better rate you get. </p>

 
