.user-profile {
	margin-top: 80px;
	margin-bottom: 100px;
}

.signup {
  margin-top: 60px;
  margin-bottom: 80px;
	text-align: center;
}

.app-signup input {
	margin: 0 auto;
	margin-bottom: 4px;
}

.app-signup input.submit {
	min-width: 100%;
}

.app-signup {
	text-align: center;
}

.gravatar {
	margin: 20px;
}