<% layout('layout') -%>
<div class="clearfix"></div>
<div class="container product-container">
	<div class="row">

		<div class="col-md-8 product-img">
			<img src="<%= product.image %>">
		</div>

		<div class="col-md-4">
			<h1><%= product.name %></h1>
			<h3>$<%= product.price %></h3>
		</div>

	</div>
</div>